.signup-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
}
.signup-card{
    width: 20rem;
    height: 22rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bottom-card{
    width: 20rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 0.3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.tnc{
    padding: 0.2rem;
    margin-top: 1rem;
    color: gray;
}