.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-icons{
    margin:0.5rem;
    color: black;
} 

.nav-icons-container{
     display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px){
    .nav-icons{
        display: none;
    }

}

.feed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .uploadButton{
    position: absolute;
    top: 90vh;
    left: 95vw;
    border-radius: 1rem solid #ccc;
} */
.video-container{
    height: 80vh;
    border: 1px solid black;
    border-radius: 15px;
    scrollbar-width: 0;
    margin-top: 1rem;
}
.video-container::-webkit-scrollbar{
    display: none;
}
.post-container{
    height: 100%;
    width: 20rem;
    margin-bottom: 0.5rem;
}

.post-container>video{
    height: 100%;
    width: 20rem;
    object-fit: contain;
    background-color: lightpink;
    border-radius: 15px;
}